body {
  background: #f2f2f2;
  color: #474747;
  font-family: 'Fira sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.container {
  background: #fff;
}


/* Header */
.header {
  background-image: url(../images/clients.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 500px;
  margin-bottom: 103px;
}

.header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo {
  background-color: rgba(0, 0, 0, .35);
  height: 96px;
}

.logo h1 {
  background-image: url(../images/wolters-kluwer-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  display: inline-block;
  margin: 0;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
  padding-top: 42px;
}

.logo .meta {
  float: right;
  margin-right: -16px;
}

.logo .meta li {
  float: left;
}

.logo .meta a {
  color: #fff;
  display: block;
  font-size: 20px;
  margin-top: 24px;
  padding: 0 16px;
  text-decoration: none;
  line-height: 48px;
}

.logo .meta a:hover {
  background: #85BC20;
}

.logo .meta button {
  background: url(../images/search.png) no-repeat;
  background-size: contain;
  background-position: right center;
  display: inline-block;
  overflow: hidden;
  text-indent: 125%;
  text-align: left;
  height: 48px;
  width: 32px;
}

.navigation {
  background: #00619C;
  height: 48px;
}

.navigation .menu {
  margin-left: -16px;
}

.navigation .menu li {
  float: left;
}

.navigation .menu a {
  line-height: 48px;
  color: #fff;
  display: block;
  padding: 0 16px;
  text-decoration: none;
}

.navigation .menu li:hover a {
  background: #007AC3;
}

.navigation .wrapper {
  position: static;
}

button.search-open:focus {
  outline: none;
}

form.search_box {
  position: absolute;
  background: rgb(133, 188, 32);
  padding: 48px 0;
  z-index: 5;
  width: 100%;
}

.hide {
  display: none;
}

.search_box .red_button {
  background: rgb(229, 32, 46);
  border: 0;
  color: #fff;
  display: block;
  line-height: 48px;
  padding-left: 32px;
  padding-right: 32px;
  position: absolute;
  right: 0;
  top: 0;
}

.search_box input {
  border: 0;
  height: 48px;
  padding-left: 20px;
  padding-right: 20px;
  width: 845px;
}

.menu .sub_menu {
  background: #007AC3;
  display: none;
  /*height: 50px;*/
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 3;
}

.menu li:hover .sub_menu {
  display: block;
}

.menu .sub_menu:hover {
  display: block;
}

.sub_menu .sub_menus li {
  display: block;
  float: none;
}

.sub_menu .sub_menus {
  float: left;
  width: 232px;
  padding: 48px 24px 48px 0;
}

.sub_menu .sub_menus:last-child {
  padding: 48px 0;
}

.navigation .sub_menus a {
  line-height: 32px;
  padding: 0;
  text-decoration: none;
}

.navigation .sub_menus a:hover {
  text-decoration: underline;
}

.navigation .sub_menus figure {
  margin: 0;
}

.sub_menu .sub_menus img {
  border: 0;
  height: 155px;
  width: 100%;
}

.navigation .sub_menus li {
  color: #fff;
  line-height: 27px;
}

.navigation .produkt {
  float: right;
}

.produkt li {
  background: rgb(133, 188, 32);
  color: #fff;
  font-size: 20px;
  line-height: 48px;
  padding: 0 64px 0 64px;
  margin-right: -64px;
}
.intro {
  height: 356px;
}

.intro .wrapper {
  height: 100%;
}

.intro .quote_wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 411px;
  z-index: 2;
}
.intro .quote_block {
  background: rgba(36, 24, 102, 0.5);
  padding: 48px;
}

.intro .quote_block h2 {
  color: #fff;
  font-size: 26px;
  font-style: italic;
  font-weight: 300;
  line-height: 28px;
  margin: 0;
}

.intro .quote_block p {
  color: #fff;
  margin: 10px 0 0;
}

 button {
  border: 0;
}

.intro .free {
  background: rgb(229, 32, 46);
  color: #fff;
  display: block;
  line-height: 64px;
  padding: 0 20px;
  float: right;
}

.intro .free:after {
  content: "à";
  margin-left: 10px;
  font-family: 'Wingdings';
}

.intro .cloud {
  background: #fff;
  height: 130px;
  padding: 20px;
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 605px;
  z-index: 1;
}

.intro .cloud p {
  color: #717171;
  margin: 0;
  padding: 10px 85px;
  font-style: italic;
  font-weight: bolder;
}

/* Header end */

/* Main */

main section.wrapper,
main section.wrapperpromobox,
main section.wrapperbenefits {
  margin-bottom: 48px;
}

.container section div h2 {
  color: #241866;
  font-size: 24px;
  line-height: 36px;
  margin-top: 48px;
}

main section div p {
  line-height: 27px;
}

.usp {
  float: left;
  width: 368px;
/*  margin-right: 100px;*/
  padding-left: 80px;
  position: relative;
}

.usp.people {
  clear: left;
}

.usp::before {
  display: block;
  content: " ";
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  top: 48px;
}

.usp.case::before {
  background: url(../images/case.png);
  background-size: cover;
}

.usp.book::before {
  background: url(../images/book.png);
  background-size: cover;
}

.usp.people::before {
  background: url(../images/people.png);
  background-size: cover;
}

.usp.rule::before {
  background: url(../images/rule.png);
  background-size: cover;
}

section.wrapper .usp:nth-child(even) {
  margin-left: 80px;
}

section.testimonial blockquote {
  font-size: 32px;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

section.testimonial blockquote::before {
  content: "\201C"
}

section.testimonial blockquote::after {
  content: "\201D"
}

section.testimonial h2,
section.testimonial h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  margin: 20px 0 0 0;
}

section.testimonial h3 {
  font-weight: 300;
  margin: 0;
}

section.testimonial div img {
  margin-top: 48px;
  height: 384px;
  width: 768px;
}

section.testimonial {
  position: relative;
  margin-bottom: 48px;
}

section.testimonial div.quote {
  position: absolute;
  width: 420px;
  background: rgba(0, 122, 195, 0.9);
  padding: 24px;
  color: #fff;
  top: 0;
  right: 0;
}

section.testimonial button{
  font-weight: 400;
  font-size: 16px;
  position: absolute;
  left: 1000px;
  top: 440px;

}

button.share::after {
  background: url(../images/share.png);
  background-size: cover;
  display: block;
  content: " ";
  width: 64px;
  height: 64px;
  left: 100px;
  top: 110;
  position: absolute;
}

section.promobox {
  position: relative;
  margin-bottom: 48px;
}

ul.list-text {
  background: #fff;
  font-size: 25px;
  line-height: 35px;
  color: #474747;
  list-style: none;
  padding: 64px 64px 64px 20px;
  margin: 0;
  width: 515px;
}

ul.list-text li::before {
  content: "\203A";
  position: absolute;
  margin-left: -20px;
  font-weight: bolder;

}

section.promobox div img {
  height: 256px;
  width: 464px;
  margin-right: -64px;
}

section.promobox div.orangebox {
  height: 64px;
  background-color: #ea8f00;
  margin-left: -64px;
}

section.promobox div.orangebox h2 {
  color: #fff;
  font-size: 32px;
  font-style: italic;
  line-height: 64px;
  padding-left: 64px;
  margin: 0;
}

section.promobox button {
  position: absolute;
  font-size: 16px;
  font-weight: bolder;
  background: #fff;
  top: 330px;
}

div.promobox-img {
  position: absolute;
  top: 0;
  right: 0;
  /*width: 400px;*/
}

.container-promobox{
  background: linear-gradient(to right, #fff 0%, #fff 50%, #F2F2F2 50%, #F2F2F2 100%);
}

section.benefit-img {
  background-image: url(../images/tablet1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 640px;
  margin-bottom: 48px;
}

.benefit-img .wrapper {
  height: 100%;
}

.benefit-left-top {
  position: absolute;
  left: 0;
  top: 48px;
  /*height: 160px;*/
  width: 320px;
}

.benefit-left-top:after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  right: -64px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 64px 0 0 64px;
  border-color: transparent transparent transparent rgba(36, 24, 102, 0.7);
}


.benefit-left-bottom-long  {
  position: absolute;
  bottom: 48px;
  left: 0;
  /*height: 192px;*/
  width: 320px;
}

.benefit-left-bottom-long:after  {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  right: -64px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 64px 64px 0 0;
  border-color: rgba(0, 122, 195, 0.7) transparent transparent transparent;
}


.benefit-right-top {
  position: absolute;
  right: 0;
  top: 48px;
  /*height: 160px;*/
  width: 320px;
}

.benefit-right-top:after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: -64px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 64px 64px;
  border-color: transparent transparent rgba(0, 122, 195, 0.7) transparent;
}


.benefit-right-bottom-long {
  position: absolute;
  bottom: 48px;
  right: 0;
  /*height: 192px;*/
  width: 320px;
}

.benefit-right-bottom-long:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: -64px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 64px 64px 0;
  border-color: transparent rgba(36, 24, 102, 0.7) transparent transparent;
}


/*.benefit:nth-child(even),
.benefit-long:nth-child(even) {
  margin-left: 384px;
}*/

.cost,
.safety {
  background: rgba(36, 24, 102, 0.7);
  padding: 24px;
}

.flexibility,
.usability {
  background: rgba(0, 122, 195, 0.7);
  padding: 24px;
}

.cost h2,
.safety h2,
.flexibility h2,
.usability h2 {
  color: #fff;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-top: 0;
}

.cost p,
.safety p,
.flexibility p,
.usability p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 0;
}

.calltoaction {
  height: 250px;
  margin-bottom: 48px;
}

.calltoaction .wrapper {
  height: 100%;
}

.calltoaction .quote_wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 420px;
  z-index: 2;
}
.calltoaction .quote_block {
  background: rgba(234, 143, 0, 0.7);
  padding: 24px;
}

.calltoaction .quote_block h2 {
  color: #fff;
  font-size: 32px;;
  font-weight: 400;
  font-style: italic;
  line-height: 46px;
  margin: 0;
}

.calltoaction .quote_block p {
  color: #fff;
  margin: 10px 0 0;
}

.calltoaction button {
  border: 0;
}

.calltoaction .free {
  background: rgb(229, 32, 46);
  color: #fff;
  display: block;
  line-height: 64px;
  padding: 0 20px;
  float: right;
}

.calltoaction .free:after {
  content: "à";
  margin-left: 10px;
  font-family: 'Wingdings';
}

.calltoaction .cloud {
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 760px;
  z-index: 1;
}

.calltoaction .cloud p {
  color: #717171;
  margin: 0;
  padding: 48px 220px 48px 48px;
  font-style: italic;
  font-weight: bolder;
}

section.FAQ {
  position: relative;
  margin-bottom: 48px;
}

.container-FAQ {
  background: linear-gradient(to right, #241866 0%, #241866 50%, #F2F2F2 50%, #F2F2F2 100%);
}

.container-FAQ .accordion {
  background: #241866;
  padding: 24px 0 64px 0;
  margin: 0;
  list-style: none;
  width: 580px;
  position: relative;
}

.accordion .accordiontitle {
  padding-bottom: 20px;
}

.accordion span.accordion-titletext {
  color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
}

.accordion .accordion-item a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.accordion .accordion-item h3 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin: 0;
  padding: 0 32px;
}

.accordion .accordion-item h4 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  margin: 0;
  padding: 0 32px;
}

.accordion .accordion-item a:hover {
  text-decoration: none;
  cursor: pointer;
  background: #fff;
}

.accordion .accordion-item a:hover h3 {
  color: #474747;
}

.accordion .accordion-item a:hover h4 {
  color: #241866;
}

/* Main end */


/* Footer */
.footer .label {
  background-color: rgb(117, 117, 117);
}

.label .footer_block {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.footer_block .block {
  float: left;
  width: 25%;
  padding: 64px 0;
}

.footer_block .block span {
  color: rgba(255, 255, 255, .5);
  line-height: 40px;
}

.footer_block .block li {
  list-style: none;
}

.footer_block .block .menu_items {
  padding-left: 0;
}

.footer_block .block .menu_items a {
  color: #fff;
  line-height: 40px;
  text-decoration: none;
}

.footer_block .block .menu_items a:hover {
  text-decoration: underline;
}

.label .footer_block_logo {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer_block_logo .block_logo {
  background-image: url(../images/wolters-kluwer-logo.svg);
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 64px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}

.footer_block_logo .block_slogan {
  color: #fff;
  font-size: 22px;
  font-weight: lighter;
  text-align: right;
  float: right;
  padding-top: 7px;
}

.socials_items li {
  float: left;
  margin-right: 10px;
}

.socials_items .Facebook {
  background: url(../images/icon_facebook.svg) no-repeat;
  display: inline-block;
  overflow: hidden;
  text-indent: 110%;
  text-align: left;
  height: 32px;
  width: 32px;
}

.socials_items .Twitter {
  background: url(../images/icon_twitter.svg) no-repeat;
  display: inline-block;
  overflow: hidden;
  text-indent: 110%;
  text-align: left;
  height: 32px;
  width: 32px;
}

.socials_items .LinkedIN {
  background: url(../images/icon_linkedin.svg) no-repeat;
  display: inline-block;
  overflow: hidden;
  text-indent: 110%;
  text-align: left;
  height: 32px;
  width: 32px;
}

.socials_items .YouTube {
  background: url(../images/icon_youtube.svg) no-repeat;
  display: inline-block;
  overflow: hidden;
  text-indent: 110%;
  text-align: left;
  height: 32px;
  width: 32px;
  margin-top: 5px;
}

.wk .links {
  padding-left: 0;
  margin: 0;
}

.wk .links li {
  display: inline-block;
  line-height: 64px;
  padding-right: 10px;
  font-size: 15px;
  color: #414141;
}

.wk .links a {
  font-size: 15px;
  color: #414141;
  text-decoration: none;
}

.wk .links a:hover {
  text-decoration: underline;
}


/* Footer end */


.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
